$primaryColor: #00b900;
$primaryLightColor: #06d106a3;
$secondaryColor: #444444;
$secondaryLightColor: rgba(128, 128, 128, 0.2);
$secondaryLighterColor: rgba(68, 68, 68, 0.05);

// Use with background-image
$primatyGradientImage: linear-gradient(
  to left,
  #00b900,
  #37b900,
  #4fb900,
  #62b900,
  #71b900
);
$primaryLightGradientImage: linear-gradient(
  to right top,
  #03be03,
  #24c302,
  #35c801,
  #43cc01,
  #4fd100
);
$secondaryGradientImage: linear-gradient(
  to left bottom,
  #595959,
  #605f5f,
  #666666,
  #6d6c6c,
  #737372
);
$secondaryLightGradientImage: linear-gradient(
  to left bottom,
  #7c7c7c,
  #7f7f7f,
  #828282,
  #868686,
  #898989
);
$fontColorBlack: #313134;
$fontColorGrey: #535860;
/*********************
HEIGHT
*********************/

$navbarHeight: 60px;
$headerHeight: 40px;

/*********************
Z-INDEX
*********************/
$navBarZIndex: 5;
$drawerZIndex: 20;
$toggleButtonZIndex: 21;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == mediumDevices {
    @media (min-width: 750px) {
      @content;
    }
  } @else if $point == smallDevices {
    @media (max-width: 750px) {
      @content;
    }
  }
}

/*********************
EFFECT MIXINS 
*********************/
@mixin iconEffect {
  & > path:hover {
    color: $primaryColor;
  }

  & > path:active {
    color: $primaryLightColor;
  }
}

@mixin textEffect {
  &:hover {
    color: $primaryColor;
  }

  &:active {
    color: $primaryLightColor;
  }
}

/***************************
MIXINS FOR REMOVING OUTLINE 
***************************/

@mixin removeOutline {
  &:focus {
    outline: 0px;
  }
}
