$primaryColor: rgba(68, 68, 68, 1);
$secondaryColor: rgba(130, 115, 92, 1);
$dimmerColor: rgba(255, 255, 255, 0.8);
$grey: rgba(135, 142, 136, 1);
$cambridgeBlue: rgba(150, 192, 183, 1);
$bone: rgba(212, 223, 199, 1);

$navbarHeight: 60px;
$headerHeight: 40px;
